<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962336425254-14f60d0c2m14kf4g94ljjrvgivod83uo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962336425254-14f60d0c2m14kf4g94ljjrvgivod83uo</string>
	<key>API_KEY</key>
	<string>AIzaSyBoeoMJ3v2-94TdQYjdUWNA9fx1JhhXVhE</string>
	<key>GCM_SENDER_ID</key>
	<string>962336425254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.administra.kforum2020</string>
	<key>PROJECT_ID</key>
	<string>kforum2020</string>
	<key>STORAGE_BUCKET</key>
	<string>kforum2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962336425254:ios:1bae85266932a6921d2de7</string>
	<key>DATABASE_URL</key>
	<string>https://kforum2020.firebaseio.com</string>
</dict>
</plist>